<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosEjercicio1.css">
   </head>
<body>
    <h1>Formulario de Notas</h1>
    <form action="{{ url_for('ejercicio1') }}" method="POST">
        <label for="nota1">Nota 1:</label><br>
        <input type="number" name="nota1" id="nota1" min="10" max="70" required>
        <br>
        <label for="nota2">Nota 2:</label><br>
        <input type="number" name="nota2" id="nota2" min="10" max="70" required>
        <br>
        <label for="nota3">Nota 3:</label><br>
        <input type="number" name="nota3" id="nota3" min="10" max="70" required>
        <br>
        <label for="asistencia">Asistencia (%):</label><br>
        <input type="number" name="asistencia" id="asistencia" min="0" max="100" required>
        <br><br>
        <input type="submit" value="Enviar">

    </form>
    {% if promedio and estado %}
         <div>
            <p>promedio {{promedio}}</p>
            <p>estado {{estado}}</p>
         </div>
    {% endif %}

</body>
</html>
